﻿@model VuzMvcCore.Models.ViewModels.ChangeSubjectViewNodel

@{
    ViewData["Title"] = "AddSubjectToDepart";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Добавить или удалить предметы для кафедру @ViewData["depName"]</h2>

<h4>Предметы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSubjectToDepart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="dep" value="@ViewData["dep"]" />
            <div class="form-group">
                <ul class="list-group">
                    @foreach (var item in Model.Subjects)
                    {
                        
                        <li class=@(Model.DepartSubjects.Contains(item.Name) ? "list-group-item\tactive": "list-group-item")>
                            <lebel>
                                <input type="checkbox" name="checks" @(Model.DepartSubjects.Contains(item.Name) ? "checked": "")
                                       value="@item.Name"/>
                                @item.Name
                            </lebel>
                        </li>

                    }
                </ul>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Faculties">Назад</a>
</div>

