﻿@model VuzMvcCore.Models.VUZ.Group

@{
    ViewData["Title"] = "CreateGroup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Добавить группу</h2>

<h4>Группа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="courseId" value="@ViewData["courseId"]" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <select class="form-control" asp-for="Symbol">
                    @foreach (var item in ViewBag.Bukvs)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Язык</label>
                <select class="form-control" asp-for="LanguageId"> 
                    @foreach (var item in ViewBag.Languages)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input  type="hidden" name="DepartmentId" value="@ViewData["departmentId"]" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

