﻿@model VuzMvcCore.Models.VUZ.Department

@{
    ViewData["Title"] = "CreateDepartment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Создать новую кафедру</h2>

<h4>Кафедра</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="facultyId" value="@ViewData["facultyId"]"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <textarea asp-for="About" class="form-control" >T</textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

