﻿@model VuzMvcCore.Models.VUZ.Group

@{
    ViewData["Title"] = "EditGroup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>EditGroup</h2>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <select asp-for="Symbol" class="form-control">
                    @foreach (var item in ViewBag.Bukvs)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId" class="form-control">
                    @foreach (var l in ViewBag.Languages)
                    {
                        <option value="@l.Id">@l.Title</option>
                    }
                </select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

