﻿@model VuzMvcCore.Models.VUZ.Faculty

@{
    ViewData["Title"] = "EditFaculty";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>EditFaculty</h2>

<h4>Faculty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFaculty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfKorpus" class="control-label"></label>
                <input asp-for="NumberOfKorpus" class="form-control" />
                <span asp-validation-for="NumberOfKorpus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfOpen" class="control-label"></label>
                <input asp-for="DateOfOpen" class="form-control" />
                <span asp-validation-for="DateOfOpen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

