﻿@model IEnumerable<VuzMvcCore.Models.VUZ.Faculty>

@{
    ViewData["Title"] = "Faculties";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
    
}

<h2>Faculties</h2>

<p>
    <a asp-action="CreateFaculty" class="btn btn-primary">Создать новый факультет</a>
</p>

<h2>Список факультетов - <i>@Model.Count()</i></h2>
<hr />
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @foreach (var f in Model)
    {
        <div class="panel panel-info">
            <div class="panel-heading d-flex jc-space-between" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <span>@f.NumberOfKorpus</span>.
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@f.Id" aria-expanded="false" aria-controls="collapseTwo">
                        @f.Name
                    </a>

                </h4>                    
                <div class="action-btns">
                    
                    <a class="btn btn-warning btn-xs" asp-action="EditFaculty" asp-route-id="@f.Id">Изменить</a>
                    <a class="btn btn-danger btn-xs" onclick="deleteFaculty('@f.Id')">Удалить</a>

                </div>
            </div>
            <div id="@f.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="d-flex jc-space-between btn">
                        <div>
                            <h4>Список кафедров - <i>@f.Departments.Count</i></h4>
                        </div>
                        <div>
                            <a class="btn btn-success btn-sm" asp-action="CreateDepartment" asp-controller="Admin" asp-route-id="@f.Id">Добавить кафедру</a>

                        </div>
                    </div>

                    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                        @foreach (var d in f.Departments)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading d-flex jc-space-between" role="tab">
                                    <h4 class="panel-title">

                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#@d.Id" aria-expanded="false" aria-controls="collapseTwo">
                                            @d.Name
                                        </a>

                                    </h4>
                                    <div class="action-btns">
                                        <a class="btn btn-info btn-xs" asp-action="AddSubjectToDepart" asp-controller="Admin" asp-route-id="@d.Id">Предметы</a>
                                        <a class="btn btn-warning btn-xs" asp-action="EditDepartment" asp-route-id="@d.Id">Изменить</a>
                                        <a class="btn btn-danger btn-xs" onclick="deleteDepartment('@d.Id')">Удалить</a>

                                    </div>
                                </div>
                                <div id="@d.Id" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel panel-body">
                                        <div class="d-flex jc-space-between btn">
                                            <div><h4>Курсы</h4></div>
                                        </div>

                                        <hr />
                                        <ul class="nav nav-tabs">
                                            @foreach (var c in d.Courses)
                                            {

                                                <li @(c.Number == 1 ? "class=active" : "")>
                                                    <a href="#@c.Id" data-toggle="tab">@c.Number курс</a>
                                                </li>

                                            }
                                        </ul>
                                        <div class="tab-content">
                                            @foreach (var c in d.Courses)
                                            {
                                                <div id="@c.Id" class=@(c.Number == 1 ? "tab-pane\tfade\tin\tactive" : "tab-pane\tfade")>
                                                    <div class="d-flex jc-space-between btn">
                                                        <div>
                                                            <h4>Список группов - <i>@c.Groups.Count</i></h4>
                                                        </div>
                                                        <div>
                                                            <a class="btn btn-success btn-sm" asp-action="CreateGroup" asp-controller="Admin" asp-route-id="@c.Id">Добавить группу</a>

                                                        </div>
                                                    </div>

                                                    <hr />@{ i = 0; }
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Номер группа</th>
                                                            <th>Символ</th>
                                                            <th>Язык</th>
                                                            <th></th>
                                                        </tr>
                                                        @foreach (var g in c.Groups)
                                                        {
                                                            {
                                                                i++;
                                                            }
                                                            <tr>
                                                                <td>@i</td>
                                                                <td>@g.Title</td>
                                                                <td>@g.Symbol</td>
                                                                <td>@(g.LanguageId == 1 ? "Русская" : g.LanguageId == 2 ? "Таджикская" : "Англиская")</td>
                                                                <td>
                                                                    <a class="btn btn-warning btn-xs" asp-action="EditGroup" asp-controller="Admin" asp-route-id="@g.Id">Изменить</a>
                                                                    <a class="btn btn-danger btn-xs" onclick="deleteGroup('@g.Id')">Удалить</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>


                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    }

</div>
<script>

    function deleteFaculty(id) {

        var faculty = {};

        $.ajax({
            url: "DeleteFaculty",
            data: "id=" + id,
            type: 'GET',
            success: function (data) {
                faculty = data;
                console.log(faculty);
                var confirmed = confirm("Вы действительно хотите удалить этот факультет! " + faculty.name);

                if (confirmed) {
                    $.ajax({
                        url: "DeleteFaculty",
                        data: faculty,
                        type: 'POST',
                        success: function (data) {
                            window.location.reload();

                        }
                    });
                }
            }
        });



    }

    function deleteDepartment(id) {

        let depart = {};

        $.ajax({
            url: "DeleteDepartment",
            data: "id=" + id,
            type: 'GET',
            success: function (data) {
                depart = data;
                var confirmed = confirm("Вы действительно хотите удалить этот кафедру - " + depart.name);

                if (confirmed) {
                    $.ajax({
                        url: "DeleteDepartment",
                        data: depart,
                        type: 'POST',
                        success: function (data) {
                            console.log(data);
                            window.location.reload();

                        }
                    });
                }
            }
        });



    }


    function deleteGroup(id) {

        let group = {};

        $.ajax({
            url: "DeleteGroup",
            data: "id=" + id,
            type: 'GET',
            success: function (data) {
                group = data;
                var confirmed = confirm("Вы действительно хотите удалить этот кафедру - " + group.title);

                if (confirmed) {
                    $.ajax({
                        url: "DeleteGroup",
                        data: group,
                        type: 'POST',
                        success: function (data) {
                            console.log(data);
                            window.location.reload();

                        }
                    });
                }
            }
        });



    }


    
</script>