﻿
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Управления</h2>
<hr />
<div class="row">

    <div class="col-lg-3">
        <div class="card facs">
            <h3 class="text-center">
                <a asp-action="Faculties" asp-controller="Admin">
                    Факультеты и кафедры
                </a>
            </h3>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card users">
            <h3 class="text-center">
                <a asp-action="Main" asp-controller="User">
                    Пользователи
                </a>
            </h3>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card news">
            <h3 class="text-center">
                <a asp-action="News" asp-controller="Admin">Новости</a>
            </h3>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card tabs">
            <h3 class="text-center">
                <a asp-action="Subjects" asp-controller="Admin">Предметы</a>
            </h3>
        </div>
    </div>
    </div>
</div>
