﻿@model VuzMvcCore.Models.VUZ.Sezon

@{
    ViewData["Title"] = "NewSezon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>NewSezon</h2>

<h4>Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewSezon">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Год начало</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Год окончания</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Семестр</label>
                <input asp-for="Semestr" class="form-control" />
                <span asp-validation-for="Semestr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

