﻿@model IEnumerable<VuzMvcCore.Models.VUZ.New>

@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>News</h2>

<p>
    <a asp-action="CreateNew">Create New</a>
</p>

<hr />

@foreach (var n in Model)
{
    <div class="panel panel-success">
        <div class="panel-heading d-flex jc-space-between">
            <div class="panel-title">
                @n.Tema
            </div>
            <div class="date-news">
                @n.Date
            </div>
        </div>
        <div class="panel-body">
            <p class="content-news">
                @n.Content
            </p>
        </div>
        <div class="panel-footer d-flex jc-end">
            <div class="action-btns">
                <a class="btn btn-danger btn-xs" >Удалить</a> 
            </div>
        </div>
    </div>
}
