﻿

@{
    ViewData["Title"] = "Raspisan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Raspisan</h2>

<p>
    <a asp-action="ReloadRaspisan" class="btn btn-primary">Расписания для нового сезона</a>
</p>
@*<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Smestr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smestr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
