﻿@model VuzMvcCore.Models.VUZ.Raspisan

@{
    ViewData["Title"] = "ReloadRaspisan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ReloadRaspisan</h2>

<h4>Raspisan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReloadRaspisan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YearStart" class="control-label"></label>
                <input asp-for="YearStart" class="form-control" />
                <span asp-validation-for="YearStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Smestr" class="control-label"></label>
                <input asp-for="Smestr" class="form-control" />
                <span asp-validation-for="Smestr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

