﻿@model IEnumerable<VuzMvcCore.Models.VUZ.Subject>
@{
    ViewData["Title"] = "CreateSubject";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
}

<h2>Предметы</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Список предметов</h4>


            <ul class="list-group">
                @foreach (var item in Model)
                {
                    {
                        i++;
                    }
                <li class="list-group-item">
                    <span>@i. @item.Name</span>
                 </li>
                }
            </ul>



    </div>
    <div class="col-md-4">
        <h4>Добавить новые предметы</h4>
        <form asp-action="Subjects">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="sub">
                <div class="form-group">
                    <label for="subject" class="control-label">Предмет</label>
                    <input name="subject" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <button class="btn btn-success pull-right" onclick="append()" id="new-btn">Создать новое поле</button>
        </div>
    </div>
</div>

<div>
    <a asp-action="Faculties">Назад</a>
</div>


<script>


   

    function append() {
            console.log("Hey");
            $("#sub > .form-group").append(`<br><input name="subject" class="form-control" />`);
    }
</script>