﻿
@using VuzMvcCore.Data;
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inject ApplicationDbContext db
@{
    var user = db.Users.Include(u => u.Teacher).ThenInclude(t => t.TeacherGroups).ThenInclude(tg => tg.Group)
        .ThenInclude(g => g.Language).FirstOrDefault(u => u.Email == User.Identity.Name);

    var groups = user.Teacher?.TeacherGroups.Select(t => t.Group).ToList();
}

<ul class="nav nav-pills nav-stacked">
    @foreach (var item in groups)
    {
        <li>
            <a asp-action="TeacherTags" asp-controller="Teacher" asp-route-id="@item.Id">
                @item.Title 
                @item.Symbol
                @item.Language.Title.Substring(0, 3)
            </a>
        </li>
    }
</ul>