﻿<!DOCTYPE html>

<html>
<head>
    <meta lang="ru" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VuzMvcWebApp</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/admin.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header text-center">
                    <a asp-area="" asp-controller="Admin" asp-action="Main" class="navbar-brand">
                        <img class="logo" src="~/images/Logo/logo-vuz.png" />
                    </a>

                </div>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <button onclick="reload()" class="btn btn-danger" asp-action="Reload" asp-controller="Admin">Новий семестр</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    
    <div class="container body-content">
        <div class="he">
            @RenderBody()
        </div>

        <footer>
            
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        function reload() {

            let conf = confirm("Предупреждение! Вы считайте что началось новий семестр");

            if (conf) {
                $.ajax({
                    url: "Reload",
                    type: 'GET',
                    success: function (data) {
                        
                    }
                });
            }


           
        }
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
