﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VuzMvcWebApp</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/student.css" rel="stylesheet" />



    <style>
        .content {
            width: 100%;
            height: 100vh;
            padding: 20px 10px 40px 30px;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div class="display-flex sto">
        <div class="menu">
            <div class="top-cont">
                <div class="text-center home">
                    <a id="home" asp-action="Main" asp-controller="Home"><span class="glyphicon glyphicon-home btn btn-warning"></span></a>
                </div>
                <div id="edits" onclick="example()" class="menu-items active-menu">
                    <span class="glyphicon glyphicon-edit"></span>
                </div>
                <div class="menu-items" id="tags">
                    <span class="glyphicon glyphicon-tags"></span>
                </div>
            </div>
            <div class="bottom-cont dropup">
                <div id="setting" class="menu-items dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </div>
                <ul class="dropdown-menu">
                    <li><a asp-action="ChangeData" asp-controller="Student">Настройка</a></li>
                    <li style="color: black;"> - - - - - - - - - - - - - - - - - </li>
                    <li>
                        <form asp-action="Logout" asp-controller="Account" method="post">
                            <button class="exit-btn" type="submit">Выход</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <div id="edit" class="sub-content">
                <ul class="nav nav-pills nav-stacked">
                    <li class="">
                        <a asp-action="Main" asp-controller="Student">Главная</a>
                    </li>
                    <li class="">
                        <a asp-action="Timestamp" asp-controller="Student">Расписание</a>
                    </li>
                </ul>
            </div>
            <div id="tag" class="sub-content">
                @Html.Partial("_SubjectsPartial")
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/teacher.js"></script>
    <script>
        $(function () {

            $(".sub-content:not(#edit)").each(function () {
                $(this).hide();
            })

            $("#tags").click(function (e) {
                e.preventDefault();
                $(".menu-items").each(function (index, value) {
                    $(this).removeClass("active-menu");
                });
                $(this).addClass("active-menu");

                $(".sub-content").each(function () {
                    $(this).hide();
                })
                $("#tag").fadeIn();
            });

            $("#edits").click(function (e) {
                e.preventDefault();
                $(".menu-items").each(function (index, value) {
                    $(this).removeClass("active-menu");
                });
                $(this).addClass("active-menu");

                $(".sub-content").each(function () {
                    $(this).hide();
                })
                $("#edit").fadeIn();
            });
        })
    </script>

</body>
</html>