﻿@using VuzMvcCore.Data;
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inject ApplicationDbContext db
@{
    var user = db.Users.Include(u => u.Student).ThenInclude(s => s.Group).ThenInclude(g => g.SubjectLists).FirstOrDefault(u => u.Email == User.Identity.Name);

    var subjects = user.Student.Group.SubjectLists;
}

<ul class="nav nav-pills nav-stacked">
    @foreach (var item in subjects)
    {
        <li >
            <a asp-action="SubjectTags" asp-controller="Student" asp-route-id="@item.Id">@item.SubjectName</a>
        </li>
    }

</ul>