﻿
<ul class="nav nav-pills">
    <li>
        <a  asp-action="Main" asp-controller="User">Управление пользователями</a>
    </li>
    <li>
        <a asp-action="Main" asp-controller="Role">Управление ролями</a>
    </li>
</ul>