﻿@model VuzMvcCore.Models.ApplicationUser
@{
    ViewData["Title"] = "ChangeData";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>Настройка</h2>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="ChangeData" method="post" enctype="multipart/form-data">
            <div class="form-group text-center">
                <label> Аватар</label>
                <br />
                @if (Model.Avatar != null)
                {
                    <img style='width: 160px; ' class="img-rounded" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
                }
                
                <p style="margin-top: 3px;">
                    <input name="avatar" type="file" class="form-control" />
                </p>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id"  />
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SurName"></label>
                <input asp-for="SurName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input type="date" asp-for="DateOfBirth" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Номер телефона</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <textarea asp-for="Address" class="form-control">T</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Изменить</button>
            </div>
        </form>
    </div>
</div>

