﻿@model VuzMvcCore.Models.ViewModels.StudentExamingViewModel
@{
    ViewData["Title"] = "Examing";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    string red = "";
    int i = 0;
}
<style>
    .red{
        color: red;
    }
</style>
<div class="row">
    <div class="col-md-12 col-md-offset-4">

        <ul class="nav nav-pills">
            <li>
                <a asp-action="SubjectTags" asp-controller="Student" asp-route-id="@ViewData["id"]">Файл</a>
            </li>
            <li>
                <a asp-action="Examing" asp-controller="Student" asp-route-id="@ViewData["id"]">Оценки</a>
            </li>
        </ul>
    </div>
</div>

<h5><b>Учебный год: </b>@Model.Sezon.StartDate - @Model.Sezon.EndDate</h5>
<h5><b>Семестр: </b>@Model.Sezon.Semestr</h5>
<hr />

<div class="row">
    <div class="col-md-12">
        <h3><b>Имя Предмета: </b> @Model.Examing.Subject.Name</h3>
        <h3><b>Имя Преподавателя: </b> @Model.Examing.Teacher?.User?.Fio</h3>
        <table class="table">
            <tr>
                <th>#</th>
                <th>ФИО</th>
                <th>ПК 1</th>
                <th>ПК 2</th>
                <th>Сессия</th>
                <th>Оценка</th>
            </tr>
            @foreach (var item in Model.Examing.Plases)
            {
                {
                    if (item.Student == Model.User.Student)
                    {
                        red = "red";
                    }
                    else
                    {
                        red = "";
                    }
                    i++;
                    
                }
                <tr class="@red" >
                    <td>@i</td>
                    <td>@item.Student?.User?.Fio</td>
                    <td>@item.RaitingOne?.CommonBal</td>
                    <td>@item.RaitingTwo?.CommonBal</td>
                    <td>@item.Sessions?.Bal</td>
                    <td>@item.FinalyBals?.Baxo (@item.FinalyBals?.Finaly)</td>
                </tr>
            }
        </table>
    </div>
</div>

