﻿@model VuzMvcCore.Models.ApplicationUser
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<style>
    .d-flex {
        display: flex;
    }

    .w-100 {
        width: 100%;
        padding: 0 2px;
    }
</style>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Привет @Model.Email</h2>
        <div class="jumbotron">
            <div class="text-center">
                @if (Model.Avatar != null)
                {
                    @if (Model.Avatar != null)
                    {
                        <img style='width: 160px; ' class="img-rounded" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
                    }

                }
            </div>
            <hr />
            <div class="d-flex w-100">
                <div style="width: 50%;">
                    <h4>Коротка о вас:</h4>
                    <ul>
                        <li>ФИО:<b>@Model.Fio</b></li>
                        <li>Группа:<b>@Model.Student.Group.Title</b></li>
                        <li>Курс:<b>@Model.Student.Group.Course.Number</b></li>
                        <li>Кафудра:<b>@Model.Student.Group.Course.Department.Name</b></li>
                        <li>Факультет:<b>@Model.Student.Group.Course.Department.Faculty.Name</b></li>
                        <li>Возрасть:<b>@Model.Age</b></li>
                        <li>Адрес:<b>@Model.Address</b></li>
                        <li>Номер:<b>@Model.PhoneNumber</b></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

