﻿@model VuzMvcCore.Models.ViewModels.StudentTagsViewModel
@{
    ViewData["Title"] = "SubjectGet";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div class="row">
    <div class="col-md-12 col-md-offset-4">

        <ul class="nav nav-pills">
            <li>
                <a asp-action="SubjectTags" asp-controller="Student" asp-route-id="@Model.SubjectList.Id">Файл</a>
            </li>
            <li>
                <a asp-action="Examing" asp-controller="Student" asp-route-id="@Model.SubjectList.Id">Оценки</a>
            </li>
        </ul>
    </div>
</div>
<h4><b>Предмет: </b> @Model.SubjectList.SubjectName</h4>
<h4><b>Преподаватель: </b> @Model.SubjectList.TeacherName</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-8">
                <form asp-action="SubjectTags" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="groupN" value="@Model.SubjectList.Group.Title" />
                    <input type="hidden" name="groupS" value="@Model.SubjectList.Group.Symbol" />
                    <input type="hidden" name="courseN" value="@Model.SubjectList.Group.Course.Number" />
                    <input type="hidden" name="groupL" value="@Model.SubjectList.Group.Language.Title" />
                    <input type="hidden" name="id" value="@Model.SubjectList.Id" />
                    <div class="form-group">
                        <label class="control-label">Файл для отправки</label>
                        <input type="file" class="form-control" name="uploadedFile" />

                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Отправленные файлы...</h4>
                <ul class="list-group">
                    @foreach (var item in Model.FileToTeachers)
                    {
                        <li class="list-group-item">
                            @item.NameFile 
                            <sub class="pull-right">@item.DatePost</sub>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-5 col-md-offset-2">
        <form asp-action="GetFile" method="post">
            <ul class="list-group">
                @foreach (var item in Model.FileToGroups)
                {
                    <li class="list-group-item">
                       <input type="hidden" name="type" value="@item.TypeFile" />
                        <input type="hidden" name="path" value="@item.PathFile" />
                        <input type="hidden" name="file" value="@item.NameFile" />
                        <button type="submit" class="btn btn-primary btn-xs" >@item.NameFile</button>
                        <span class="pull-right">@item.DatePost</span>
                    </li>
                }
            </ul>
        </form>

    </div>
</div>

