﻿@model VuzMvcCore.Models.VUZ.Raspisangroup

@{
    ViewData["Title"] = "Timestamp";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<style>
    .time {
        position: absolute;
        right: 30px;
        top: 10px;
        background-color: #ff6a00;
        font-size: 20px;
        margin-bottom: 15px;
        color: #fff;
        padding: 10px;
    }
</style>
<script src="~/js/moment.js"></script>
<h2>Расписания</h2>
<div class="time">
    <span id="datetime" style="font-weight: bold;"></span>
</div>

<script src="~/js/real_datetime.js">
    window.onload = date_time('datetime')
</script>
<div class="row">
    @foreach (var d in Model.Dayofweeks)
    {
    <div class="col-md-6">
        <h3 style="text-align: center; color: red; text-decoration: underline;">@d.NameOfWeek</h3>
        <table class="table">
            <tr>
                <th>Время</th>
                <th>Предметь</th>
                <th>Преподаватель</th>
                <th>Аудитория</th>
            </tr>
            <tbody>
                @foreach (var t in d.Timetables)
                {
                    <tr>
                        <td style="color: mediumvioletred;">@t.Time</td>
                        <td>@t.Subject</td>
                        <td>@t.NameOfTeacher</td>
                        <td>@t.Auditorya</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
</div>




