﻿@model VuzMvcCore.Models.ViewModels.ChangeDataTeacherVM

@{
    ViewData["Title"] = "ChangeData";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";

}

<h2>Изменить данные</h2>
<hr />
<form asp-action="ChangeData" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@ViewData["id"]" />
    <div class="row">
        <div class="col-md-4 ">


            <div class="form-group">
                <label asp-for="CurrentUser.Name"></label>
                <input asp-for="CurrentUser.Name" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.LastName"></label>
                <input asp-for="CurrentUser.LastName" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.SurName"></label>
                <input asp-for="CurrentUser.SurName" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.DateOfBirth"></label>
                <input type="date" asp-for="CurrentUser.DateOfBirth" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.PhoneNumber"></label>
                <input asp-for="CurrentUser.PhoneNumber" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.Teacher.DateOfStartWork"></label>
                <input asp-for="CurrentUser.Teacher.DateOfStartWork" disabled class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.Address"></label>
                <textarea asp-for="CurrentUser.Address" class="form-control">T</textarea>

            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.Teacher.Staj"></label>
                <input asp-for="CurrentUser.Teacher.Staj" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.Teacher.Stepen"></label>
                <input asp-for="CurrentUser.Teacher.Stepen" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.Teacher.Post"></label>
                <input asp-for="CurrentUser.Teacher.Post" class="form-control" />

            </div>




        </div>
        <div class="col-md-2 text-center">
            <label> Аватар</label>
            @if (Model.CurrentUser.Avatar != null)
            {
                <img style='width: 160px; ' class="img-rounded" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.CurrentUser.Avatar))" />
            }
            <hr />
            <div class="form-group">
                <input name="avatar" type="file" class="form-control" />

            </div>
        </div>
        <div class="col-md-4 ">
            <h3>Предметы</h3>
            <ul class="list-group">
                @foreach (var s in Model.Subjects)
                {
                    <li class=@(Model.isSubject.Contains(s.Id) ? "list-group-item\tactive": "list-group-item")>
                        <label>
                            <input type="checkbox" name="subs" value="@s.Id" @(Model.isSubject.Contains(s.Id) ? "checked" : "")>
                            @s.Name
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <h2 style="text-align: center;">Группы</h2>
        @foreach (var d in Model.Departments)
        {
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item-heading"> <b>@d.Name</b></li>
                    @foreach (var c in d.Courses)
                    {
                        @foreach (var g in c.Groups)
                        {
                            <li class=@(Model.isGroups.Contains(g.Id) ? "list-group-item\tactive": "list-group-item")>
                                <label>
                                    <input type="checkbox" name="groups" value="@g.Id" @(Model.isGroups.Contains(g.Id) ? "checked" : "")>
                                    <span>
                                        @g.Title
                                        @g.Symbol

                                        <sub>@c.Number - курс</sub>
                                    </span>
                                   
                                    
                                </label>
                            </li>
                        }
                    }

                </ul>
            </div>
        }

    </div>
    <hr />
    <div class="text-center ">
        <button class="btn btn-success ">Сохранить</button>
    </div>

</form>


