﻿@model VuzMvcCore.Models.ApplicationUser
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}



<style>
    .d-flex {
        display: flex;
    }

    .w-100 {
        width: 100%;
        padding: 0 2px;
    }
</style>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Привет @Model.Email</h2>
        <div class="jumbotron">
            <div class="text-center">
                @if (Model.Avatar != null)
                {
                    @if (Model.Avatar != null)
                    {
                        <img style='width: 160px; ' class="img-rounded" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
                    }

                }
            </div>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <h4>Коротка о вас:</h4>
                    <ul>
                        <li>ФИО:<b>@Model.Fio</b></li>
                        <li>Возрасть:<b>@Model.Age</b></li>
                        <li>Адрес:<b>@Model.Address</b></li>
                        <li>Номер:<b>@Model.PhoneNumber</b></li>
                        <li>Стажь:<b>@Model.Teacher.Staj</b></li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Кафедры:</h4>
                    <ol>
                        @foreach (var item in Model.Teacher.TeacherDepartments.Select(s => s.Department).ToList())
                        {
                            <li>@item.Name</li>
                        }
                    </ol>
                </div>
                <div class="col-md-3">
                    <h4>Группы:</h4>
                    <ol>
                        @foreach (var item in Model.Teacher.TeacherGroups.Select(s => s.Group).ToList())
                        {
                            <li>
                                @item.Title
                                @item.Symbol
                                @item.Language.Title.Substring(0, 3);
                            </li>
                        }
                    </ol>
                </div>
                <div class="col-md-3">
                    <h4>Предметы:</h4>
                    <ol>
                        @foreach (var item in Model.Teacher.TeacherSubjects.Select(s => s.Subject).ToList())
                        {
                            <li>
                                @item.Name
                            </li>
                        }
                    </ol>
                </div>
            </div>
            <div class="d-flex w-100">
                <div style="width: 25%;">
                    
                </div>
                <div style="width: 25%;">

                </div>
                <div style="width: 25%;">

                </div>
                <div style="width: 25%;">

                </div>
            </div>

        </div>
    </div>
</div>