﻿@model VuzMvcCore.Models.ViewModels.RaitingViewModel
@{
    ViewData["Title"] = "Первый рейтинг";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    int i = 0;
}

<div class="row">
    <div class="col-md-12 col-md-offset-4">

        <ul class="nav nav-pills">
            <li>
                <a asp-action="TeacherTags" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Файл на группу</a>
            </li>
            <li>
                <a asp-action="Raiting1" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Оценивать студенты</a>
            </li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-pills">
            <li>
                <a asp-action="Raiting1" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">ПК - 1</a>
            </li>
            <li>
                <a asp-action="Raiting2" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">ПК - 2</a>
            </li>
            <li>
                <a asp-action="Session" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Сессия</a>
            </li>
            <li>
                <a asp-action="Result" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Результат</a>
            </li>
        </ul>
    </div>
</div>

<h2>Первый рейтинг</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <input type="hidden" name="groupId" value="@ViewData["groupId"]" />
            <div class="form-inline">
                <div class="form-group">
                    <label>Студент: </label><br />
                    <select name="studentId" class="form-control">
                        @foreach (var item in Model.Students)
                        {
                            <option value="@item.Id">@item.User?.Fio</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Предмет: </label><br />
                    <select name="subjectId" class="form-control">
                        @foreach (var item in Model.Subjects)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                &nbsp;
                &nbsp;
                <div class="form-group">
                    <label>За посещение: </label><br />
                    <input required type="number" class="form-control" name="pos">
                </div>
                &nbsp;
                <div class="form-group">
                    <label>Самостоятельная работа</label><br />
                    <input required type="number" class="form-control" name="kdz">
                </div>
                &nbsp;
                <div class="form-group">
                    <label>Экзамен</label><br />
                    <input required type="number" class="form-control" name="examing">
                </div>
                &nbsp;
                <div class="form-group">
                    <label></label><br />
                    <button type="submit" class="btn btn-primary ">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @foreach (var r in Model.ReletionShips)
        {
            <h3 class="text-center">@r.Subject.Name</h3>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>ФИО</th>
                    <th>Посищания</th>
                    <th>Самостоятельная работа</th>
                    <th>Экзамен</th>
                    <th>$</th>
                </tr>
                @foreach (var item in r.Plases)
                {
                    <tr>
                        @{ i++; }
                        <td>@i</td>
                        <td>@item.Student?.User?.Fio</td>
                        <td>@item.RaitingOne.Posisheniya</td>
                        <td>@item.RaitingOne.Kdz</td>
                        <td>@item.RaitingOne.Examing</td>
                        <td>@item.RaitingOne.CommonBal</td>
                    </tr>
                }
            </table>
            {
                i = 0;
            }
        }
    </div>
</div>
