﻿@model IEnumerable<VuzMvcCore.Models.VUZ.Examing>
@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    int i = 0;
}

<div class="row">
    <div class="col-md-12 col-md-offset-4">

        <ul class="nav nav-pills">
            <li>
                <a asp-action="TeacherTags" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Файл на группу</a>
            </li>
            <li>
                <a asp-action="Raiting1" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Оценивать студенты</a>
            </li>
        </ul>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-pills">
            <li>
                <a asp-action="Raiting1" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">ПК - 1</a>
            </li>
            <li>
                <a asp-action="Raiting2" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">ПК - 2</a>
            </li>
            <li>
                <a asp-action="Session" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Сессия</a>
            </li>
            <li>
                <a asp-action="Result" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Результат</a>
            </li>
        </ul>
    </div>
</div>

<h2>Общее результаты</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Resultat">
            <div class="pull-right">
                <input type="hidden" name="sezonId" value="@ViewData["sezonId"]" />
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-repeat" ></span> Обновить
                </button>
            </div>


        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        @foreach (var e in Model)
        {
            <h3 class="text-center">@e.Subject.Name</h3>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>ФИО</th>
                    <th>Бал</th>
                    <th>Оценка</th>
                </tr>
                @foreach (var item in e.Plases)
                {
                    <tr>
                        @{ i++; }
                        <td>@i</td>
                        <td>@item.Student?.User?.Fio</td>
                        @if (item.FinalyBals != null)
                        {
                            <td>@item.FinalyBals.Finaly</td>
                            <td>@item.FinalyBals.Baxo</td>
                        }
                    </tr>
                }
            </table>
            {
                i = 0;
            }
        }
    </div>
</div>
