﻿@model VuzMvcCore.Models.ViewModels.RaitingViewModel
@{
    ViewData["Title"] = "Сессия";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    int i = 0;
}

<div class="row">
    <div class="col-md-12 col-md-offset-4">

        <ul class="nav nav-pills">
            <li>
                <a asp-action="TeacherTags" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Файл на группу</a>
            </li>
            <li>
                <a asp-action="Raiting1" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Оценивать студенты</a>
            </li>
        </ul>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-pills">
            <li>
                <a asp-action="Raiting1" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">ПК - 1</a>
            </li>
            <li>
                <a asp-action="Raiting2" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">ПК - 2</a>
            </li>
            <li>
                <a asp-action="Session" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Сессия</a>
            </li>
            <li>
                <a asp-action="Result" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Результат</a>
            </li>
        </ul>
    </div>
</div>
<h2>Сессия</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <input type="hidden" name="groupId" value="@ViewData["groupId"]" />
            <div class="form-inline">
                <div class="form-group">
                    <label>Студент: </label><br />
                    <select name="studentId" class="form-control">
                        @foreach (var item in Model.Students)
                        {
                            <option value="@item.Id">@item.User?.Fio</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Предмет: </label><br />
                    <select name="subjectId" class="form-control">
                        @foreach (var item in Model.Subjects)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                &nbsp;
                &nbsp;
                <div class="form-group">
                    <label>Бал: </label><br />
                    <input class="form-control" required type="number" name="bal">
                </div>
                &nbsp;

                <div class="form-group">
                    <label></label><br />
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>

        </form>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-5 ">
        @foreach (var r in Model.ReletionShips)
        {
            <h3 class="text-center">@r.Subject.Name</h3>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>ФИО</th>
                    <th>Экзамен</th>
                </tr>
                @foreach (var item in r.Plases)
                {
                    <tr>
                        @{ i++; }
                        <td>@i</td>
                        <td>@item.Student?.User?.Fio</td>
                        @if (item.Sessions != null)
                        {
                            <td>@item.Sessions.Bal</td>
                        }
                    </tr>
                }
            </table>
            {
                i = 0;
            }
        }
    </div>
</div>

