﻿@model VuzMvcCore.Models.ViewModels.TeacherTagsViewModel
@{
    ViewData["Title"] = "PostGroups";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="row">
    <div class="col-md-12 col-md-offset-4">

        <ul class="nav nav-pills">
            <li>
                <a asp-action="TeacherTags" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Файл на группу</a>
            </li>
            <li>
                <a asp-action="Raiting1" asp-controller="Teacher" asp-route-id="@ViewData["groupId"]">Оценивать студенты</a>
            </li>
        </ul>
    </div>
</div>

<h4><b>Группа: </b> @Model.Group.Title @Model.Group.Symbol @Model.Group.Language.Title</h4>
<h4><b>Курс: </b> @Model.Group.Course.Number</h4>
<hr />

<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-10">
                <form asp-action="TeacherTags" method="post" enctype="multipart/form-data">

                    <input name="groupid" type="hidden" value="@ViewData["groupId"]" />


                    <div class="form-group">
                        <label>Файл для отправки</label>
                        <input type="file" name="uploadedFile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>По предмету</label>
                        <select name="subject" class="form-control">
                            @foreach (var s in Model.SubjectLists)
                            {
                                <option value="@s.SubjectName">@s.SubjectName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Отправить</button>
                    </div>


                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Отправленные файлы</h4>
                <ul class="list-group">
                    @foreach (var item in Model.FileToGroups)
                    {
                        <li class="list-group-item">
                                @item.NameFile
                                <sub class="pull-right">@item.DatePost</sub>
                        </li>
                    }
                </ul>

            </div>
        </div>

    </div>

    <div class="col-md-5 col-md-offset-2">
        <h4>Файлы присланны от студентов</h4>
        <form asp-action="GetFile" method="post">
            <ul class="list-group">
                @foreach (var item in Model.FileToTeachers)
                {
                <li class="list-group-item">
                    <input type="hidden" name="type" value="@item.TypeFile" />
                    <input type="hidden" name="name" value="@item.NameFile" />
                    <input type="hidden" name="path" value="@item.PathFile" />
                    <b>@item.Student.User.Fio</b> - @item.SubjectName<br />
                    <button class="btn btn-warning btn-xs" type="submit">@item.NameFile</button>

                    <sub class="pull-right">@item.DatePost</sub>
                </li>
                }
            </ul>
        </form>
       
    </div>


</div>
