﻿@model VuzMvcCore.Models.ViewModels.TimeTableViewNodel
@{
    ViewData["Title"] = "Timestamp";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<h2>Расписания</h2>
<div class="row">
    <div class="col-md-12">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (var f in Model.Faculties)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading d-flex jc-space-between" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <span>@f.NumberOfKorpus</span>
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@f.Id" aria-expanded="true" aria-controls="collapseTwo">
                                @f.Name
                            </a>
                        </h4>
                    </div>
                    <div id="@f.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <h3>Выберите курс</h3>
                            <ul class="nav nav-tabs">
                                @foreach (var d in f.Departments)
                                {
                                    @foreach (var c in Model.Courses)
                                    {

                                        if (d.Courses.Contains(c))
                                        {
                                            <li @(c.Number == 1 ? "class=active" : "")>
                                                <a href="#@c.Id" data-toggle="tab">@c.Number курс</a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>

                            <div class="tab-content">
                                @foreach (var d in f.Departments)
                                {
                                    @foreach (var c in Model.Courses)
                                    {
                                        @if (d.Courses.Contains(c))
                                        {
                                            <div id="@c.Id" class=@(c.Number == 1 ? "tab-pane\tfade\tin\tactive" : "tab-pane\tfade")>
                                                <div class="d-flex jc-space-between btn">

                                                </div>

                                                @foreach (var gr in c.Groups)
                                                {
                                                    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                                        @foreach (var g in Model.Groups)
                                                        {
                                                            @if (g == gr)
                                                            {
                                                                <div class="panel panel-info">
                                                                    <div class="panel-heading d-flex jc-space-between" role="tab">
                                                                        <h4 class="panel-title">

                                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#@g.Id" aria-expanded="true" aria-controls="collapseTwo">
                                                                                @g.Title
                                                                            </a>

                                                                        </h4>
                                                                    </div>
                                                                    <div id="@g.Id" class="panel-collapse collapse in" role="tabpanel">
                                                                        <div class="panel panel-body">

                                                                            @foreach (var r in Model.Raspisangroups)
                                                                            {
                                                                                @if (r == g.Raspisangroup)
                                                                                {
                                                                                    @foreach (var day in r.Dayofweeks)
                                                                                    {

                                                                                        <h3 class="text-center text-danger">@day.NameOfWeek</h3>
                                                                                        <table class="table table-striped">
                                                                                            <tr>
                                                                                                <th></th>
                                                                                                <th>Время</th>
                                                                                                <th>Предмет</th>
                                                                                                <th>Аудитория</th>
                                                                                                <th>Преподаватель</th>
                                                                                                <th></th>
                                                                                            </tr>
                                                                                            @foreach (var t in day.Timetables)
                                                                                            {
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <input type="hidden" class="tur" value="@t.Id" />
                                                                                                    </td>
                                                                                                    <td>@t.Time</td>
                                                                                                    <td>
                                                                                                        @if (t.Subject != null)
                                                                                                        {
                                                                                                            @t.Subject
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <select class="form-control">
                                                                                                                <option value=""></option>
                                                                                                                @foreach (var subs in Model.Subjects)
                                                                                                                {
                                                                                                                    <option value="@subs.Name">@subs.Name</option>
                                                                                                                }
                                                                                                            </select>
                                                                                                        }
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @if (t.Auditorya != null)
                                                                                                        {
                                                                                                            @t.Auditorya
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <input class="form-control" />
                                                                                                        }
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @if (t.NameOfTeacher != null)
                                                                                                        {
                                                                                                            @t.NameOfTeacher
                                                                                                        }
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @if (!t.IsHasData)
                                                                                                        {
                                                                                                            <a onclick="timeTable('@t.Id', '@g.Id');" class="btn btn-primary">Добавить</a>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <a asp-action="ClearRow" asp-route-id="@t.Id" class="btn btn-info">Очистить</a>
                                                                                                        }
                                                                                                    </td>
                                                                                                </tr>
                                                                                            }
                                                                                        </table>
                                                                                    }

                                                                                }
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }

                                                        }
                                                    </div>
                                                }

                                            </div>
                                        }

                                    }

                                }
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<script>
    let data = {};
    function timeTable(id, gid) {
        $('.tur').each(function (i, v) {
            if (id == v.value) {
                let elem = $(this).parent().parent();
                let tr = elem[0];
                let tds = tr.children;

                let time = tds[1];
                let select = tds[2].children[0];
                let audit = tds[3].children[0];

                data = {
                    "id": id,
                    "subject": select.value,
                    "auditoriya": audit.value,
                    "groupid": gid
                };

                $.ajax({
                    url: "Timestamp",
                    data: data,
                    type: 'POST',
                    success: function (data) {
                        window.location.reload();

                    }
                });
            }
        });

    }

</script>