﻿@model VuzMvcCore.Models.ViewModels.AdminUserViewModel
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;

}

<style>
    .fiter {
        border: 1px solid #333;
        padding: 10px;
    }

    .text-filter {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 16px;
        color: #03377c;
        font-weight: bold;
    }
</style>

<h2>
    Управление пользователями
</h2>

<hr />
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        @Html.Partial("_UserPartial")
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-9">
        <h2>Список пользователей</h2>
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Фамилья</th>
                <th>Отечество</th>
                <th>E-mail</th>
                <td>
                    <form asp-action="SearchUsers" class="navbar-form" asp-controller="User" method="get">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Поиск по e-mail">
                        </div>
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </td>
            </tr>
            @foreach (var user in Model.ApplicationUsers)
            {
                {
                    i++;
                }
                <tr>
                    <td>@i.</td>
                    <td>@user.Name</td>
                    <td>@user.LastName</td>
                    <td>@user.SurName</td>
                    <td>@user.Email</td>
                    <td class="d-flex">
                        <a class="btn btn-xs btn-primary" asp-action="Edit" asp-controller="Role" asp-route-userid="@user.Id">Права доступа</a> |
                        <a class="btn btn-xs btn-success" asp-action="EditData" asp-controller="User" asp-route-userid="@user.Id">
                            Данный
                        </a> |
                        <a class="btn btn-info btn-xs" asp-action="Detail" asp-controller="User" asp-route-id="@user.Id">Подробнее</a> |
                        <form method="post" asp-route-id="@user.Id" asp-controller="User" asp-action="Delete">
                            <button type="submit" class="btn btn-xs btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-3">

        <div class="fiter">
            <h4>Фильтировать данные...</h4>
            <hr />
            <form asp-action="Filter" asp-controller="User" method="post">
                <div class="form-group">
                    <span class="text-filter">
                        Доступность
                    </span>
                    <ul>
                        <li>
                            <div class="radio">
                                <label><input  type="radio" asp-for="Filter.Active"  value=""  />Все</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label><input  type="radio" asp-for="Filter.Active" value="1" />Доступные</label>

                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label><input  type="radio" asp-for="Filter.Active" value="0" />Не доступные</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <span class="text-filter">
                        По ролями
                    </span>
                    <ul>
                        <li>
                            <div class="radio">
                                <label><input type="radio" asp-for="Filter.Role" value="" />Все</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label><input type="radio" asp-for="Filter.Role" value="teacher" />Преподавателы</label>

                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label><input type="radio" asp-for="Filter.Role" value="student"  />Студенты</label>
                            </div>
                        </li>
                    </ul>
                </div>

                <button class="btn btn-info" type="submit">Фильтр</button>
            </form>

        </div>
    </div>
</div>

