﻿@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">
        Этот аккаунт заблокирован, повторите попытку позже.
    </p>
</header>
