﻿@model IEnumerable<VuzMvcCore.Models.VUZ.Faculty>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @foreach (var faculty in Model)
    {
        <div class="col-md-3">
            <div class="faculty-item">
                <h2>@faculty.Name</h2>
                <h3>@faculty.DateOfOpen</h3>
            </div>
        </div>
    }
</div>