﻿@model VuzMvcCore.Models.ViewModels.MainViewModel
@{
    ViewData["Title"] = "Main";
    int countOfFacult = Model.Faculties.Count();
}


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner car" role="listbox">
        <div class="item active im">
            <img src="~/Files/tut2-1.jpg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @*Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>*@
                </p>
            </div>
        </div>
        <div class="item im">
            <img src="~/Files/Wyvern-programming-languages-in-one.jpg"  class="img-responsive img"/>
            <div class="carousel-caption" role="option">
                <p>
                    @*There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>*@
                </p>
            </div>
        </div>
        <div class="item im">
            <img src="~/Files/znaki_voprosa_3d_formy_112826_1920x1080.jpg"  class="img-responsive img"/>
            <div class="carousel-caption" role="option">
                <p>
                    @*Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>*@
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div class="nadpis">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Технологический университет Таджикистана</h3>
            <p>Наш университет подойдед для любого кто хочить получить хорошего знания!</p>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-4 ret">
        <div class="onas">
            <h3>О нас</h3>
            <hr />
            <p>
                kawmdl lwd ajnja kn awnk nkndan na
                akwjdna nakdn akdnnddn nen n nesjfen sjns j
                s f nsejfnsefj nesj nsefjns
                jn ejfnsj nsjefn sknejnf sknf jn
                sj n
                sjef nsfj\ nsjf\ n
                sjfn s
                jm sjfnsj nksejbnf
                sjf ns
                fjn
                s jns
                fj nskjfnskjfnsnf
                ks men
                kjen sfn
            </p>
        </div>
    </div>


    <div class="col-md-8 ">
        <div class="novosti">
            <h3>Новости</h3>
            <hr />
            @foreach (var nov in Model.News)
            {
                <div class="novost-item">
                    <p class="tema">@nov.Tema</p>
                    <p class="content">@nov.Content</p>
                    <p class="date">@nov.Date</p>
                </div>
            }
        </div>


    </div>



</div>



