﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    width: 50px;
}

header .navbar-default {
    background-color: #045d84;
    border: none;
}

    header .navbar-default .navbar-nav > li > a {
        color: #fde9d0;
        text-transform: uppercase;
        padding-bottom: 10px;
    }


.karo {
    display: none;
}





header .navbar-brand {
    padding: 0;
    margin: 0 10px;
}

.card {
    position: relative;
    overflow: hidden;
    border: 1px solid #222;
    margin-bottom: 30px;
}

    .card .card-image {
        width: 100%;
    }

    .card .card-title {
        display: block;
        text-align: center;
        margin: 3px;
        font-family: Ubuntu, sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

    .card .card-about {
        padding: 10px;
        margin-top: 5px;
    }

.d-flex {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-end {
    justify-content: flex-end;
}

.hello {
    font-size: 16px;
    display: block;
    margin-top: 15px;
}

.inline-block {
    display: inline-block;
    position: relative;
    left: 70%;
}

.inline {
    display: inline-block;
}

.action-btns {
    padding: 0;
}

.mt-10 {
    margin-top: 10px;
}
