﻿.im {
    height: 450px;
}
.img {
    width: 1200px;
}

@media only screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .im {
        height: 280px;
    }
}
