﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.he {
    min-height: 100vh;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

header .navbar-default {
    background-color: #045d84;
    border: none;
}

    header .navbar-default .navbar-nav > li > a {
        color: #fde9d0;
        text-transform: uppercase;
        padding-bottom: 10px;
    }


        header .navbar-default .navbar-nav > li > a:hover {
            border-bottom: 2px solid #fff;
            color: #fff;
        }

    header .navbar-default .navbar-right > li > a {
        color: #fff;
        font-size: 22px;
        line-height: 25px;
        background-image: radial-gradient(#0f6097, #054068);
        border-radius: 5px;
    }

        header .navbar-default .navbar-right > li > a:hover {
            border: none;
            background-image: radial-gradient(#2968b4, #054068);
        }



header .navbar-brand {
    padding: 0;
    margin: 0 10px;
}


.logo {
    width: 50px;
}

.nadpis {
    border-bottom: 2px solid #0197f3;
    padding: 10px 0;
    background-image: linear-gradient(0, #eee, #fff);
}

    .nadpis p {
        margin: 0;
    }

.onas {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px 10px 70px;
    border-right: 2px solid #0197f3;
}

.novosti {
    padding: 30px 0 70px;
}

    .novosti h3 {
        margin: 0;
    }

.onas h3 {
    margin: 0;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

