﻿body {
    margin: 0;
    padding: 0;
}

.display-flex {
    display: flex;
}

.sto {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 100vh;
    background-color: #0b109c;
    color: white;
    font-size: 22px;
    padding-left: 5px;
}

.home {
    padding: 20px 10px 10px 10px;
}

.sidebar {
    width: 250px;
    border-right: 1px solid black;
    height: 100vh;
}

.content {
    width: 100%;
    padding: 20px;
    overflow: auto;
}

.main {
    border: 1px solid black;
}


.top-cont {
    display: flex;
    flex-direction: column;
}

.menu-items {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    transition: background .3s;
}

    .menu-items:hover {
        background-color: rgba(129, 148, 252, .6);
    }

.active-menu {
    background-color: #fff;
    color: #222;
}

.exit-btn {
    background: none;
    border: none;
    color: red;
    width: 100%;
}

    .exit-btn:hover {
        background-color: #eee;
    }

.sub-content {
    padding: 20px 10px 0 10px;
}


@media only screen and (max-width: 720px)  {
    .toggle {
        display: block;
    }
    .sidebar{
        display: none;
    }
    .menu{
        width: 50px;
        font-size: 14px;
        padding-left: 0;
    }
}