﻿@model VuzMvcCore.Models.ApplicationUser
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-3">
        <p style="margin-top: 30px;">
            <a asp-action="Main" asp-controller="User">Назад</a>
        </p>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8 d-flex">

        @if (Model.Avatar != null)
        {
            <div>
                <img style='width: 160px; ' class="img-rounded" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
            </div>
        }


        <ul>
            <li><b>ФИО: </b> @Model.Fio</li>
            <li><b>E-mail: </b> @Model.Email</li>
            <li><b>Возрасть: </b> @Model.Age</li>
            <li><b>Адрес: </b> @Model.Address</li>
            <li><b>Номер телефона: </b> @Model.PhoneNumber</li>
            <li><b>Дата рождения: </b> @Model.DateOfBirth</li>
            <li><b>Доступ: </b> @Model.IsSignIn</li>
            @if (Model.Teacher != null)
            {
                <li><b>Степень наименование: </b> @Model.Teacher.Stepen</li>
                <li><b>Стажь: </b> @Model.Teacher.Staj</li>
                <li><b>Должность: </b> @Model.Teacher.Post</li>
                <li>
                    <b>Кафедры: </b>
                    <ul>
                        @foreach (var item in Model.Teacher.TeacherDepartments.Select(t => t.Department))
                        {
                            <li>@item.Name</li>
                        }
                    </ul>
                </li>

                <li>
                    <b>Группы: </b>
                    <ul>
                        @foreach (var item in Model.Teacher.TeacherGroups.Select(t => t.Group))
                        {
                            <li>@item.Title</li>
                        }
                    </ul>
                </li>
            }
            @if (Model.Student != null)
            {
                <li><b>Группа: </b> @Model.Student.Group?.Title</li>
                <li><b>Курс: </b> @Model.Student.Group?.Course?.Number</li>
                <li><b>Кафедра: </b> @Model.Student.Group?.Course?.Department?.Name</li>
                <li><b>Факультет: </b> @Model.Student.Group?.Course?.Department?.Faculty?.Name</li>
            }
        </ul>
    </div>
</div>

