﻿@model VuzMvcCore.Models.ViewModels.StudentViewModel
@{
    ViewData["Title"] = "EditStudent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Редактировать данные студента @ViewData["email"]</h2>
<hr />


<form asp-action="EditStudent" asp-controller="User" method="post">
    <div class="row">
        <input type="hidden" name="userid" value="@ViewData["id"]" />
        <div class="col-md-3">
            <h4>Вакультет</h4>
            <ul class="list-group">
                @foreach (var f in Model.Faculties)
                {
                    <li class=@(Model.FacName == f.Name ? "list-group-item\tactive": "list-group-item")>
                        <lebel>
                            <input type="radio" name="facId" @(Model.FacName == f.Name ? "checked" : "")
                                   value="@f.Id" />
                            @f.Name
                        </lebel>
                    </li>
                }
            </ul>
        </div>

        <div class="col-md-3">
            <h4>Кафедра</h4>
            <ul class="list-group">
                @foreach (var d in Model.Departments)
                {
                    <li class=@(Model.DepName == d.Name  ? "list-group-item\tactive": "list-group-item")>
                        <lebel>
                            <input type="radio" name="depId" @(Model.DepName == d.Name ? "checked" : "")
                                   value="@d.Id" />
                            <span> @d.Name <sub>@d.Faculty.Name</sub></span>

                        </lebel>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Курс</h4>
            <ul class="list-group">
                @foreach (var c in Model.Courses)
                {
                    <li class=@(Model.CourseName == c ? "list-group-item\tactive": "list-group-item")>
                        <lebel>
                            <input type="radio" name="course" @(Model.CourseName == c ? "checked" : "")
                                   value="@c" />
                            @c
                        </lebel>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Группа</h4>
            <ul class="list-group">
                @foreach (var g in Model.Groups)
                {
                    <li class=@(Model.GroupName == g.Title ? "list-group-item\tactive": "list-group-item")>
                        <lebel>
                            <input type="radio" name="groupId" @(Model.GroupName == g.Title ? "checked" : "")
                                   value="@g.Id" />
                            <span>
                                @g.Title
                                @g.Symbol
                                @g.Language.Title.Substring(0, 3)
                                <sub> @g.Course.Number - курс</sub>
                            </span>
                           
                        </lebel>
                    </li>
                }
            </ul>
        </div>

    </div>
    <a asp-action="Main" asp-controller="User">Назад</a>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Сохранить</button>
    </div>
    
</form>    



