﻿@using VuzMvcCore.Models.ViewModels;
@model TeacherDepartViewModel
@{
    ViewData["Title"] = "EditTeacher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .list-deps{
        margin: 20px;
        width: 500px;
    }
    .cont{
        display: flex;
        flex-wrap: wrap;
    }
</style>

<h2>Добавить или удалить кафедру для преподавателя @ViewData["email"]</h2>

<h4>Предметы</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditTeacher" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@ViewData["id"]" />
            <div class="cont">

                @foreach (var f in Model.Faculties)
                {

                    <div class="list-deps">
                        <ul class="list-group">

                            <li class="list-group-item"><b>@f.Name</b></li>
                            @foreach (var d in f.Departments)
                            {

                                    <li class=@(Model.TeacherDeparts.Contains(d.Name) ? "list-group-item\tactive": "list-group-item")>
                                        <lebel>
                                            <input type="checkbox" name="checks" @(Model.TeacherDeparts.Contains(d.Name) ? "checked" : "")
                                                   value="@d.Name" />
                                            @d.Name
                                        </lebel>
                                    </li>

                            }

                        </ul>
                    </div>

                }
            </div>


            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Main", asp-controller="User">Назад</a>
</div>

