﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Управление ролями</h2>
<hr />
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        @Html.Partial("_UserPartial")
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <ul class="list-group-">
            <li class="list-group-item">        
                <a asp-action="Create" class="btn btn-success">Добавить роль</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">


        <h2>Список ролей</h2>
        <table class="table">
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>

        
    </div>
</div>


